$dark: #000;
$dark-1: #0a0b0e;
$dark-2: #2a2b2f;
$dark-3: #3b506c;

$gray: #4a4a4a;
$gray-medium: #b7b7b7;
$gray-light: #fafbfe;
$gray-light-1: #edf2f9;
$gray-light-2: #f7f8fa;
$gray-light-3: #eff2f7;
$gray-light-4: #f7f8f9;

$white: #fff;

$brand-color-1: #53a318;
$brand-color-dark: #348700;
$brand-color: #2cc185;

$brand-color-1: #ff0084f0;

$red-color: #f50057;

$orange-color: #ff8a80;

$info-color: #42a5f5;

$brand-box-shadow: 0px 10px 40px -10px rgba($brand-color, 0.5);
$brand-box-shadow-1: 0px 10px 40px -10px rgba($brand-color-1, 0.5);
